.container--contact{
    align-items: center;
    color: $pnavy;
    font-size: 35px;

    p{
        margin-bottom: 30px;
    }
}

.container--form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    input{
        height: 30px;
        width: 300px;
        border-radius: 10%;
    }

    textarea{
        height:300px;
        width: 500px;
        resize: none;
        border-radius: 10%;
    }

    button{
        background-color: $pnavy;
        color:$skyblue;
        height:50px;
        border-radius:10px;
        width:150px;
        font-size:25px;
        margin-top: 10px;
        margin-bottom:25px ;
        cursor: pointer;
    }
}

.contact-info{
    color: $pnavy;
    text-align: center;

    li{
        margin: 25px 25px 0 25px;
        list-style: none;
    }

    a{
        color: $pnavy;
        text-decoration: none;
        padding-bottom: 4px;
    }
    a:hover{
        border-bottom:dashed 5px $skyblue;
    }

    .bigger{
        font-size: 45px;
    }

    .contact--icon{
        height: 40px;
        margin-right: 10px;
        margin-bottom: -7px;
    }

}


.padding{
    padding-bottom: 30px;
}


@media screen and (max-width: $tablet){
.container--contact{
    font-size: 25px;
}
.container--form{
    input{
        width: 200px;
    }

    textarea{
        height:200px;
        width: 300px;
    }

    button{
        height:50px;
    }
}


.contact-info{
    li{
        margin: 15px 15px 0px 15px;
    }

    .bigger{
        font-size: 35px;
    }
}
}



@media screen and (max-width: $mobile){
    .container--contact{
        display: flex;
        flex-direction: column;
    }
    .container--contact{
        font-size: 18px;
    }
    .container--form{
        input{
           width: 250px;
        }
    
        textarea{
            height:150px;
            width: 250px;
        }
    
        button{
            height:30px;
            font-size:25px;
        }
    }
    
    
    .contact-info{
        li{
            margin: 10px 10px 0 10px;
        }
    
        .bigger{
            font-size: 25px;
        }
    }
    }