

.sticky{
    position:fixed;
    top:0px;
}

.navbar{
background-color: $pnavy;
height:10vh;
width: 100vw;
border-bottom: 1px solid $lavender;
z-index: 10;

&__ul{
    display: flex;
    height: inherit;
    justify-content:flex-end;
    align-items: flex-end;
    list-style: none;

    &__items{
        margin:15px 20px 15px 20px;
        font-size: 30px;
        font-family: $font-family;

        a{
            color: $skyblue;
            text-decoration: none;
        }

        a:hover{
            border-bottom: dashed 5px $skyblue;
        }
    }

}

}


