.container--project{
    display:grid;
    grid-template-columns: repeat(3, 33%);
}

.flexbox--project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.img--project{
    height: 200px;
    width:400px;
    border: dashed 5px transparent;
}

.border{
    :hover{
        border: dashed 5px $skyblue;
    }
}

.headers--project{
    font-size: 30px;
    font-family: $font-family;
    color: $pnavy;
}

.descrip--project{
    text-align: center;
    font-size: 20px;
    color: $pnavy;
}

@media screen and (max-width: $tablet){
    .container--project{
        grid-template-columns: repeat(2, 50%);
    }


.flexbox--project{
    display: flex;
    margin: 10px;
}

.img--project{
    width:300px;
}

}


@media screen and (max-width: $mobile){
    .container--project{
        grid-template-columns: repeat(1, 100%);
    }


.flexbox--project{
    display: flex;
    margin: 10px;
}

.img--project{
    width:300px;
}

}