$skyblue:#56CBF9;
$pnavy:#464D77;
$yellow:#F9DB6D;
$light-pink:#EAC5D8;
$lavender:#DBD8F0;
$font-family: Hashed Browns, Arial, Helvetica, sans-serif;
//Hashed Browns for Headers? It looks cute :P
@import "scss_partials/nav.scss";
@import "scss_partials/footer.scss";
@import "scss_partials/contact.scss";
@import "scss_partials/projectcards.scss";
@import "scss_partials/landing.scss";
@import "scss_partials/resume.scss";



* {
    padding: 0;
    margin: 0;
}


.background--pink{
    background-color: $light-pink;
}


.background--lav{
    background-color: $lavender;
}

h2 {
    color: $pnavy;
    font-family: $font-family;
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 30px ;
}
